/* Filename: BlurBackgroundImage.css */

/* Mine */
#icon{
	text-align: center;
	border-bottom: 3px solid #3B3A3F;
	border-top: 3px solid #3B3A3F;
	padding-top: 20px;
	padding-bottom: 20px;
}

#icon > div {
	display: inline-block;
}

/* Blur-background */
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url('clcs10.png');

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 554px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 900px;
  padding: 20px;
  text-align: center;
}
